# Camtasia Style and Code Analysis Configuration

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,cpp,h}]
indent_size = 3
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf
charset = utf-8

#cpp_indent_namespace_contents = false
